header{
	font-weight: bold;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(45deg, #3195E5 20%, white 50%, #3195E5 40%);
	background-image: -moz-linear-gradient(45deg, #3195E5 20%, white 50%, #3195E5 40%);
	background-image: -webkit-linear-gradient(45deg, #3195E5 20%, white 50%, #3195E5 40%);
	background-image: -o-linear-gradient(45deg, #3195E5 20%, white 50%, #3195E5 40%);
}
body {
	background-color: #3195E5;
}
main {
	padding-bottom: 30px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
h1 {
	font-size: 150%;
	padding-top: .5ems;
	padding-bottom: .25ems;
	margin: 0;
}
h3{
	font-size: 130%;
	font-style: italic;
}
img {
	padding: 0 3.125%;
}
article {
	padding: .5em 0;
}
article img {
	float: right;
	max-width: 30%;
	min-width: 100px;
	margin: .5em 0 1em 1em;
	padding-bottom: 30px;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}